/*master reset*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/****************************************************************************
**************************** GENERAL CLASSES *****************************
****************************************************************************/
body{
    color: #888;
    font-family: sans-serif;
}
img{
    display: block;
}
a{
    display: inline-block;
    text-decoration: none;
    color: #333;
}
/****************************************************************************
**************************** HELPER CLASSES *****************************
****************************************************************************/
.row{
    width: 100%;
}
.row:after,.clearfix{
    content: '';
    clear: both;
}
.p-0{
    padding: 0;
}
.p-10{
    padding: 10px;
}
.p-20{
    padding: 20px;
}
.p-top-bottom-10{
    padding: 10px 0;
}
.p-left-right-10{
    padding: 0 10px;
}
.p-top-bottom-20{
    padding: 20px 0;
}
.p-left-right-20{
    padding: 0 20px;
}
.m-0{
    margin: 0;
}
.m-10{
    margin: 10px;
}
.m-20{
    margin: 20px;
}
.m-top-bottom-10{
    margin: 10px 0;
}
.m-left-right-10{
    margin: 0 10px;
}
.m-top-bottom-20{
    margin: 20px 0;
}
.row .col-12{
    width: 100%;
    float: left;
    padding: 15px;
}
.row .col-11{
    width: 90.91%;
    float: left;
    padding: 15px;
}
.row .col-8{
    width: 66.67%;
    float: left;
    padding: 15px;
}
.row .col-6{
    width: 50%;
    float: left;
    padding: 15px;
}
.row .col-4{
    width: 33.33%;
    float: left;
    padding: 15px;
}
.row .col-3{
    width: 25%;
    float: left;
    padding: 15px;
}
.row .col-1{
    width: 9.09%;
    float: left;
    padding: 15px;
}
.shift-right{
    float: right;
}
.shift-left{
    float: left;
}
.align-center{
    text-align: center;
}
.half-section{
    width: 60%;
    margin: 40px auto;
}
.fa:hover{
    color: #888;
}
/****************************************************************************
**************************** HELPER CLASSES *****************************
****************************************************************************/
.btn{
    display: inline-block;
    padding: 10px;
    margin: 20px;
    box-sizing: border-box;
    text-transform: uppercase;
    border-radius: 2px;
}
.btn-grey{
    background: #eee;
    color: #333;
}
.btn-black{
    margin-top: 20px;
    background: #333;
    color: #fff;
}
.btn-grey:link,.btn-grey:visited{
    background: #eee;
    color: #333;
    outline: solid #333 2px;
}
.btn-grey:hover{
    background: #ddd;
    color: #333;
}
.btn-grey:active{
    background: #ddd;
    color: #333;
}
.btn-black:hover{
    background: #ddd;
    color: #333;
}
.btn-black:link,.btn-black:visited{
    background: #333;
    color: #ddd;
}
.btn-black:active{
    background: #ddd;
    color: #333;
}
/****************************************************************************
**************************** NAVIGATION CLASSES *****************************
****************************************************************************/
.navigation{
    height: 40px;   
    background:#EEE; 
}
.navigation .navigtion-bar{
    display: inline-block;
    height: 100%;
}
.menu{
    display: inline-block;
}
.sub-menu{
    color: #333;
    padding: 10px;
}
.side-bar{
    display: inline-block;
    float: right;
    padding: 10px;
}
.navigation .navigation-bar .menu .sub-menu:hover,.navigation .navigation-bar .menu .sub-menu a:hover{
    background: #333;
    color: #fff;
}
.side-bar:hover{
    background: red;
    cursor: pointer;
}
/***************************************************************************
**************************** LOGO CLASSES ***********************************
**************************************************************************/
.img-logo{
    position: relative;
}
.logo{
    width: 100%;
    height: 500px;
}
.white-section h2{
    display: block;
}
.img-logo .text-on-image{
    color: #fff;
    width: 100%;
    position: absolute;
    bottom: 30%;
    font-size: 2.5em;
    letter-spacing: 5px;
/*    transition: background 3s;*/
}
@media(max-width : 600px){
    .img-logo .text-on-image{
        color: #fff;
        position: absolute;
        bottom: 30%;
        font-size: 1.5em;
        letter-spacing: 3px;
    }
}
.img-logo .text-on-image span{
    background: #222;
}
/****************************************************************************
**************************** WHITE CLASSES ***********************************
****************************************************************************/
.white-section{
    background: #fff;
    width: 70%;
    color: #888;
    margin: 40px auto;
}
.paragraph-in-white-section{
    line-height: 30px;
    font-size: 1.2em;    
}
.white-section about-me{
    margin-top: 40px;
    font-weight: 500;
}
.white-section h4 em{
    font-weight: 400;
}
.icon-span{
    margin: 30px 0;
    color: #333;
}
.image-in-white-section{
    width: 425px;
    height: 285px;
}
@media(max-width:550px){
    .half-section .image-and-icon{
        width: 100%;
    }
    .half-section .image-in-white-section{
        width: 250px;
        height: 200px;
    }
}
.paragraph-float{
    font-size: 1.2em;
    padding: 15px;
    line-height: 25px;    
}
.white-section .text-above-skills{
    margin: 20px 0;
}
.skills h2{
    letter-spacing: 10px;
    text-transform: capitalize;
    font-size: 1.3em;
}
.sub-skill {
    background: #ccc;
    position: relative;
}
.photography .colored-sub-skill{
    position: absolute;
    padding: 6px;
    top: 0;
    left: 0;
    width: 90%;
    background: #555;
}
.web-designing .colored-sub-skill{
    position: absolute;
    padding: 6px;
    top: 0;
    left: 0;
    width: 85%;
    background: #555;
}
.photoshop .colored-sub-skill{
    position: absolute;
    padding: 6px;
    top: 0;
    left: 0;
    width: 75%;
    background: #555;
}
.skills span{
    color: #fff;
}
@media(max-width:550px){
    .paragraph-float{
        display: none;
    }
}
@media(max-width:550){
    .image-and-icon{
        width: 100%;
    }    
}
/****************************************************************************
**************************** PORTFOLIO CLASSES ***********************************
****************************************************************************/
.full-section{
    background: #333;
    height: 150px;
    color: #fff;
    text-transform: capitalize;
}
.full-section .sub-section{
    padding: 30px 0;
    box-sizing: border-box;
}
.image-in-full-section{
    width: 100%;
    height: 400px;
    margin-bottom: 40px;
}
.full-section .image-parallax{
    display: block;
    height: 400px;
    position: relative;
}
.image-parallax h3{
    width: 100%;
    position: absolute;
    font-weight: normal;
    top: 48%;
    font-size: 2.5em;
    letter-spacing: 10px;
}
/****************************************************************************
**************************** IMAGE CLASSES ***********************************
****************************************************************************/
.images-section{
    text-align: center;
    color: #888;
    margin-top: 440px;
}
.images-section .headline{
    text-transform: uppercase;   
    margin-bottom: 40px;
}
.images-section .line-description{
    font-style: italic;
    line-height: 1.5em;
}
.image{
    width: 220px;
    height: 165px;
}
@media(max-width:550px){
    .images-section .image{
        float: none;
        width: 100%;
    }
    .images-section .image-parent{
        width: 100%;
    }
}
/***************************************************************************
**************************** CONTACT SECTION ***********************************
**************************************************************************/
.contact-section .image-in-contact-section img{
    width: 100%;
    height: 400px;
    background-size: cover;
}
.contact-section .image-in-contact-section{
    position: relative;
}
.contact-section .image-in-contact-section h3{
    top: 48%;
    color: #fff;
    position: absolute;
    font-weight: 200;
    width: 100%;
    text-transform: uppercase;
    font-size: 2.5rem;
    letter-spacing: 10px;    
}
.contact-section .half-section{
    margin-top: 100px;
}
.contact-section .half-section h3{
    font-size: 2rem;
}
.contact-section .half-section h5{
    font-size: 1rem;
}
.contact-section .image-div{
    padding: 20px;
}
.contact-section .image-map{
    width: 285px;
    height: 160px;
    border-radius: 5px;
}
.contact-section .description{
    font-size: 1.3rem;
}
.contact-section .textbox{
    width: 100%;
    padding: 5px;
    box-sizing: border-box;
}
.contact-section .form-control{
    padding: 5px;
}
@media(max-width:550px){
    .contact-section .half-section .image-div{
        width: 100%;  
        float: none;
    }
    .contact-section .half-section .description{
        width: 100%;
        float: none;
    }
}
/***************************************************************************
**************************** FOOTER SECTION ***********************************
**************************************************************************/
.footer-section{
    margin-top: 100px;
    width: 100%;
    height: 250px;
    background: #333;
    color: #fff;
    text-align: center;
}
.footer-section:hover{
    background: #000;
}
.footer-section p{
    margin: 30px;
    font-size: 2rem;
}